$blue_primary: #5833eb;
$gray: gray;
$bg_white_primary: #f3f6fd;
$bg_white_secondary: #ffffff;
$bg_white_three: #fcfcfd;
$fw_500: 500;
$fw_600: 600;
$bd_line: rgba(163, 174, 208, 0.3);
$bg_pink_primary: #fef4fb;
$bg_pink_secondary: #fef6fc;
$bg_button: rgba(28, 34, 55, 0.1);
$color_icon: #777e90;
$color_text: #242835;
$color_icon_secondary: #f648b8;
$color_bsc: #ffb436;
$color_kcc: #5833eb;
$color_ended: #858892;